.navbar-icons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: 55px;

}

.soc_media {
    margin-right: 30px;
    color: #6d004e;
    transform: scale(2);
}

.Header__logoITE {
    /* width: 12rem; */
}

.menu-opciones {
    float: right;
}

@media (max-width: 991.98px) {
    .mc .d-none {
      display: none;
    }
    .head_txt {
        display: none;
    }
  }

/** TERMINA HEADER */